<h1>Anúncios</h1>

<div>
  <ul>
    <% @ads.each do |ad| %>
      <li>
        <strong><%= ad.title %></strong>
        <p>
          <%= ad.description %>
        </p>
        <p>
          R$ <%= ad.price %>
        </p>
        <%= link_to 'editar', edit_ad_path(ad) %>
      </li>
    <% end %>
  </ul>
</div>
<p>
  Aqui vai meu conteúdo
</p>